<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/admin.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery.min.js"></script>
</head>
<body class="Site">
	<div class="zxr ">
		<!-- 头部 -->
		<div class="header navbar-fixed-top">
			<div class="perInfo">
					<h3>Cinryのadmin</h3>
			</div>
			<div class="new">
				<span class="symbol">
					<i class="glyphicon glyphicon-plus"></i>
					<a>新增</a>
					<i class="arrows"></i>
				</span>
			</div>
			<div class="rightHead">
				<ul class="clearfix">
					<li>超级管理员</li>
					<li class="admin">admin <i class="arrows"></i></li>
					<li class="msg">
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="tip">1</span>
					</li>
					<li><span class="glyphicon glyphicon-tree-deciduous"></span></li>
					
				</ul>
			</div>
		</div>
		<!-- 内容 -->
		<div class="content Site-content">
			<!-- 侧边栏：固定 -->
			<aside>
				
				<div class="admin">
					<h3>文章管理</h3>
					<ul class="clearfix">
						<li><i class="glyphicon glyphicon glyphicon-book"></i>文章管理</li>
						<li><i class="glyphicon glyphicon-user"></i>用户管理</li>
						<li><i class="glyphicon glyphicon-th-large"></i>账号管理</li>
						<li><i class="glyphicon glyphicon-cog"></i>修改信息</li>
					</ul>
				</div>
			</aside>
			<!-- 右侧管理内容，与左侧栏形成对应table栏方式 -->
			<div class="con">
				<div class="add">
					<a href="new"><span>添加文章</span></a>
				</div>
			</div>
		</div>
	</div>
	

	<script src="../public/js/admin.js"></script>
</body>
</html>