<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/personal.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="zxr">
		<div class="header">
			<div class="others"></div>
			<!-- 此处用bootstrap插件做一个导航栏 -->
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        </button>
			      <a class="navbar-brand" href="#">CinryのBlog</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav navbar-right">
				        <li><a href="/" class="current">网站首页</a></li>
				        <li class="dropdown">
					         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的博客 <span class="caret"></span>
					         </a>
					         <ul class="dropdown-menu">
					            <li><a href="/tech">专业技术</a></li>
					            <li><a href="#">随思随想</a></li>
					         </ul>
				        </li>
				        <li><a href="/personal">关于我</a></li>
				        <li><a href="/editArt">发表文章</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</div>   <!-- header end -->
	<!-- 大图 -->
		<div class="banner">
			<img src="img/personal/banner.jpeg" alt="">
		</div>
	<!-- 我的迷你导航 -->
		<div class="blank"></div>		
		<div class="content">
			<nav>
				<ul>
					<li class="current"><a href="#">我的窝</a></li>
					<li><a href="#">我的博客</a></li>
					<li><a href="#">我的问答</a></li>
					<li><a href="#">我的足迹</a></li>
					<li><a href="#">我的评论</a></li>
					<li><a href="#">更多</a></li>
				</ul>
			</nav>
		<!-- 左边布局 -->
			<div class="left">
				<!-- 个人简介 -->
				<div class="myPer">
					<div class="touxiang">
						<img src="img/personal/touxiang.png" alt="">
					</div>
					<div class="myname">
						Innocence`
						<i></i>
					</div>
					<div class="tags">
						<a href="#"><i class="vip"></i></a>
						<a href="#"><i class="duo"></i></a>
						<a href="#"><i class="shape"></i></a>
					</div>
					<div class="others">
						<span>
							等级：
							<a href="#">Lv.2</a>
						</span>
						<span>
							现居：云浮
						</span>
						<span><a href="#" class="set"></a>
						</span>
					</div>
					<a href="#" class="left-btn">
						填写个人简介
					</a>
					<ul class="fans">
						<li>
							<strong>4</strong>
							关注			
						</li>
						<li><strong>4</strong>
							粉丝	</li>
						<li><strong>4</strong>
							赞	</li>
					</ul>
				</div>
				<!-- 我的小组 -->
				<div class="myGroup">
					<div class="top">
						我的小组
					</div>
					<div class="con">
						<ul>
							<li>
								<img src="img/personal/gr1.jpeg" alt="">
								<a href="#">凉凉</a>
							</li>
							<li>
								<img src="img/personal/gr2.png" alt="">
								<a href="#">暖暖</a>
							</li>
							<li>
								<img src="img/personal/gr3.jpeg" alt="">
								<a href="#">小蚂</a>
							</li>
							<li>
								<img src="img/personal/gr4.jpeg" alt="">
								<a href="#">小爱</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 我的留言板 -->
				<div class="myMsg">
					<div class="msgTop">
						留言板
						<div class="slide-btn">
							<i></i>
						</div>
					</div>
					<div class="input">
						<textarea  placeholder="说点什么..."></textarea>
						<a href="#" class="left-btn">留言</a>
					</div>
				</div>
			</div>
	<!-- 右边内容框 -->
			<div class="right">
				<div class="common act">
					<ul class="clearfix">
						<li>
							<a href="">
								<i class="write"></i>
								<span>写游记</span>
							</a>
						</li>
						<li>
							<a href="">
								<i class="ask"></i>
								<span>问达人</span>
							</a>
						</li>
						<li>
							<a href="">
								<i class="walk"></i>
								<span>添加足迹</span>
							</a>
						</li>
						<li>
							<a href="">
								<i class="jiepan"></i>
								<span>发布结伴</span>
							</a>
						</li>
					</ul>
				</div>
				<ul class="me">
					<li>
						<span>教育背景</span>
						<p>2015.09-2019.06                     岭南师范学院（本科）           计算机科学与技术（软件服务外包）
GPA：专业前5%<br>
主修课程：html+css+js网页设计、富开发端技术、C语言程序设计、数据结构、计算机数学、数据库原理、计算机网络、Java语言程序设计、Java EE框架技术、设计模式、操作系统、编译原理</p>
					</li>
					<li>
						<span>专业技能</span>
						<p></p>
					</li>
				</ul>
				<div class="common myNote">
					<div class="noteTop">
						<h2>我的博客</h2>
						<span><i></i>写博客</span>
					</div>
					<div class="defa"></div>
					<div class="dele">
						<a href="#">
							<i></i>
							已删除博客
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>