/*
* @Author: Cinry
* @Date:   2018-08-13 22:33:57
* @Last Modified by:   admin
* @Last Modified time: 2018-08-23 15:52:50
*/
		*{
			padding: 0;
			margin: 0;
		}
		.header{
			width: 100%;
			height: 50px;
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			z-index: 2;
		}
		.header h3{
			display: block;
			width: 100px;
			margin: 0 auto;
			margin-top: 10px;
		}
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			background: url('../img/bg.jpg') no-repeat;
			background-size: 100% 100%;
		}
		.bg>div{
			position: absolute;
		}
		.bg .con{
			width: 500px;
			left: 50%;
			top: 30%;
			margin-left: -200px;
			border: 1px solid #ccc;
			background: rgba(0, 0, 255, 0.1);
		}
		.bg .con form>div{
			margin-top: 20px;

		}
		.bg .con form{
			width: 50%;
			margin: 0 auto;
		}
		.pass input{
			margin-left: 20px;
		}
		.user input{
			margin-left: 10px;
		}
		.bg .tips{
			display: inline-block;
			font-size: 12px;
		}
		.bg .submit{
			width: 60px;
			margin: 20px auto;
		}
		@media(max-width: 600px){
				.bg .con{
				width: 90%;
				margin: 0;
				left: 0;
			}
				.bg .con form{
				width: 100%;
				padding: 10px
			}
				.bg .con input{
					height: 30px;
			}
		}